## Code Task

### Task 1 - Linear Regression Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load in Avocado dataset 
df = pd.read_csv('avocado.csv', sep=',').iloc[:, 1:]

In [3]:
#Check data has imported correctly 
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
# check for missing values 
print(df.isnull().values.sum())

0

In [5]:
df.type.unique()

array(['conventional', 'organic'], dtype=object)

There are two possible options for type therefore type can be converted to a dummy variable to be included in the model.

In [6]:
#Separate type into two separate dummy columns 
dummies = pd.get_dummies(df['type'])

# add these colums to the full dataset 
df = pd.concat([df, dummies], axis = 1)

#remove the origional type column 
df = df.drop(['type'], axis=1)

In [7]:
# we need to convert 'Date' to numerical values
import datetime as dt
df['Date'] = df['Date'].str.replace("-","").astype(int)

Region is also a categorical variable. We therefore convert each different region to a dummy variable. We could also assign each a number from 0-(n-1) (where n is the number of unique regions) however this assigns will mean each region has a different weight, i.e. we would not treat each separate region as equivalent

In [8]:
#Separate type into two separate dummy columns 
dummies_2 = pd.get_dummies(df['region'])

# add these colums to the full dataset 
df = pd.concat([df, dummies_2], axis = 1)

#remove the origional type column 
df = df.drop(['region'], axis=1)

In [9]:
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,...,SouthCarolina,SouthCentral,Southeast,Spokane,StLouis,Syracuse,Tampa,TotalUS,West,WestTexNewMexico
0,20151227,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,...,0,0,0,0,0,0,0,0,0,0
1,20151220,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,...,0,0,0,0,0,0,0,0,0,0
2,20151213,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,...,0,0,0,0,0,0,0,0,0,0
3,20151206,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,...,0,0,0,0,0,0,0,0,0,0
4,20151129,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#split data into dependent and independent variables 
#dependent 
Y = pd.DataFrame(df, columns=['AveragePrice'])

#independent 
X = df.drop(['AveragePrice'], axis=1)

In [11]:
from sklearn import linear_model

In [12]:
#Build a model 
lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
predictions = lm.predict(X)

In [13]:
# Check model fit 
lm.score(X,Y)

0.5909276448819747

This value is the R^2  - this indicates the model fit could be improved - the higher the R^2 the better the model fit

In [14]:
#Format results 
coeff_df = pd.DataFrame(lm.coef_).transpose()
coeff_df = coeff_df.rename(columns={0: "Coefficient"})
coeff_df['variable']=X.columns
coeff_df = coeff_df.reindex(coeff_df.Coefficient.abs().sort_values(ascending=False).index)

In [15]:
#Look at top 10 most indfulencial variables 
coeff_df.head(10)

    Coefficient             variable
9     -2.049380                 year
29     0.411385  HartfordSpringfield
54     0.396955         SanFrancisco
30    -0.358664              Houston
40     0.327095              NewYork
23    -0.323624        DallasFtWorth
57    -0.308581         SouthCentral
11     0.245958              organic
10    -0.245958         conventional
44     0.225622         Philadelphia

The feature that most drives the change in price is Year. Year has a negative coefficeint therefore as each year passes there is a -2.049unit decrease in price. Being from the region 'Hartford Springfield' has the second largest influence over price, an avocado produced in this region is more expensive than other regions. The most influencial factors are then followed by 5 other regions. Type also has a high influence over price. Type 'Organic' drives the price up, whereas 'conventional' causes avacados to drop in price.

### Task 2 - REST API's

Create table containing recpie info and ingredients

In [16]:
#Code to create table- recipe 1

import sqlite3 
  
# connecting to the database  
connection = sqlite3.connect("Curry.db") 
  
# cursor  
crsr = connection.cursor() 
  
# SQL command to create a table in the database 
sql_command = """CREATE TABLE emp (  
name VARCHAR(30) PRIMARY KEY,  
serves INTEGER,  
total_time_mins INTEGER,    
cook_time_mins INTEGER, 
ingredients VARCHAR(70));"""
  
# execute the statement 
crsr.execute(sql_command) 
  
# SQL command to insert the 1st recepie into table
sql_command = """INSERT INTO emp VALUES ("Spinach Curry", 2, 16, 8, "cashews, onion, curry paste, paneer, spinach");"""
crsr.execute(sql_command) 


# To save the changes
connection.commit() 
  
# close the connection 
connection.close()

In [17]:
#Code to create table- recipe 2 

import sqlite3 
  
# connecting to the database  
connection = sqlite3.connect("Cajun_sweet_potato.db") 
  
# cursor  
crsr = connection.cursor() 
  
# SQL command to create a table in the database 
sql_command = """CREATE TABLE emp (  
name VARCHAR(30) PRIMARY KEY,  
serves INTEGER,  
total_time_mins INTEGER,    
cook_time_mins INTEGER, 
ingredients VARCHAR(70));"""
  
# execute the statement 
crsr.execute(sql_command) 
  
# SQL command to insert the 1st recepie into table
sql_command = """INSERT INTO emp VALUES ("Cajun Sweet Potato", 4, 60, 10, "sweet potato, garlic, cajun spice, greek yoghurt, sprig onion");"""
crsr.execute(sql_command) 


# To save the changes
connection.commit() 
  
# close the connection 
connection.close()

In [18]:
#Code to create table - recipe 3

import sqlite3 
  
# connecting to the database  
connection = sqlite3.connect("Pork_Stir_Fry.db") 
  
# cursor  
crsr = connection.cursor() 
  
# SQL command to create a table in the database 
sql_command = """CREATE TABLE emp (  
name VARCHAR(30) PRIMARY KEY,  
serves INTEGER,  
total_time_mins INTEGER,    
cook_time_mins INTEGER, 
ingredients VARCHAR(70));"""
  
# execute the statement 
crsr.execute(sql_command) 
  
# SQL command to insert the 1st recepie into table
sql_command = """INSERT INTO emp VALUES ("Pork Stir-Fry", 4, 18, 12, "pork shoulder, carrots, onion, teriyaki sauce, honey");"""
crsr.execute(sql_command) 


# To save the changes
connection.commit() 
  
# close the connection 
connection.close()

In [19]:
#fetch data - cheacking above code worked as expected for one recipe 
  
# importing the module 
import sqlite3 

# connect with the myTable database
conn = sqlite3.connect("Pork_Stir_Fry.db")

# command to fetch all data in .db file and importing as dataframe
recipe_data = pd.read_sql_query("select * from emp;", conn)

#view dataset 
recipe_data

,name,serves,total_time_mins,cook_time_mins,ingredients
0,Pork Stir-Fry,4,18,12,"pork shoulder, carrots, onion, teriyaki sauce,..."

In [20]:
conn = sqlite3.connect("Cajun_sweet_potato.db")
recipe_data_1 = pd.read_sql_query("select * from emp;", conn)
recipe_data_1

,name,serves,total_time_mins,cook_time_mins,ingredients
0,Cajun Sweet Potato,4,60,10,"sweet potato, garlic, cajun spice, greek yoghu..."

In [21]:
conn = sqlite3.connect("Curry.db")
recipe_data_2 = pd.read_sql_query("select * from emp;", conn)
recipe_data_2

,name,serves,total_time_mins,cook_time_mins,ingredients
0,Spinach Curry,2,16,8,"cashews, onion, curry paste, paneer, spinach"

#### Create an API to GET EDIT DELETE and CREATE recepies

In [22]:
from flask import Flask
from flask_restful import Api, Resource, reqparse

app = Flask(__name__)
api = Api(app)

Need to read in mySQL files to below format - not sure how to reformat it

In [23]:
recipes = [
    {
        "name" : "spanich curry",  
        "serves" : 2,  
        "total_time_mins": 16,    
        "cook_time_mins": 8, 
        "ingredients":"cashews, onion, curry paste, paneer, spinach"   
    },
    {
        "name" : "Cajun Sweet Potato",  
        "serves" : 4,  
        "total_time_mins": 60,    
        "cook_time_mins": 10, 
        "ingredients":"sweet potato, garlic, cajun spice, greek yoghurt, sprig onion"   
    },
    {
        "name" : "Pork Stir-Fry",  
        "serves" : 4,  
        "total_time_mins": 18,    
        "cook_time_mins": 12, 
        "ingredients":"pork shoulder, carrots, onion, teriyaki sauce, honey"   
    }
]

In [24]:
class recipe(Resource): 
    #get used to retrieve info on user by specifying name
    def get(self, name):
        for recipe in recipes: 
            if(name==recipe["name"]):
                #if a recipe matches the name it returns the recipe 
                return recipe
        # if there is no recipe with that name it returns 'Recipe not found'
        return "Recipe not found"
   
    # put is used to edit the details of a recipe
    def put(self, name): 
        parser = reqparse.RequesrParser()
        parser.add_argument("serves")
        parser.add_argument("total_time_mins")
        parser.add_argument("cook_time_mins")
        parser.add_argument("ingredients")
        args = parser.parse_args()
        
        for recipe in recipes: 
            if(name == recipe["name"]):
                recipe["serves"] = args["serves"]
                recipe["total_time_mins"] = args["total_time_mins"]
                recipe["cook_time_mins"] = args["cook_time_mins"]
                recipe["ingredients"] = args["ingredients"]
                return user
            
        user = {
            "name": name,
            "serves" : args["serves"],  
            "total_time_mins": args["total_time_mins"],    
            "cook_time_mins": args["cook_time_mins"], 
            "ingredients": args["ingredients"] 
        }
        #if the recipe exists we will update details, if not we create a new one 
        recipes.append(recipe)
        return recipe
    
   # delete a recipe 
    def delete(self, name):
        recipes = [recipe for recipe in recipes if recipe["name"] !=name]
        return "{} is deleted.".format(name)

            
    #post creates a new recipe
    def post(self, name):
        parser = reqparse.RequestParser()
        parser.add_argument("age")
        args = parser.parse_args()
        
        for recipe in recpies: 
            if(name == recipe["name"]):
                return "Recipe for {} already exists".format(name)
        
        recipe = {
            "name": name,
            "serves" : args["serves"],  
            "total_time_mins": args["total_time_mins"],    
            "cook_time_mins": args["cook_time_mins"], 
            "ingredients": args["ingredients"] 
        }
        recipes.append(recipe)
        return recipe

In [25]:
#any name cane be used
api.add_resource(recipe, "/recipe/<string:name>")

#reloads automatically 
app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3304: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

#### Create an API to get recipes by certain ingredient_id

Ingredients are contained within a list, so ingredient_id corrisponds to a single ingredient? In that case the incredient may be contained in multiple recipes

In [26]:
class recipe(Resource): 
    #get used to retrieve info on user by specifying name
    def get(self, ingrdients):
        for recipe in recipes: 
            if recipe["ingredient"] in ingredients:
                #if a specified ingredient is contained in the recipie it returns the recipe 
                return recipe
        # if there is no recipe that ccontains the ingredient it returns 'Recipe not found'
        return "Recipe not found"

In [28]:
#any ingredient be used
api.add_resource(recipe, "/recipe/<string:ingredient>",  endpoint="/recipe/<string:ingredient>")

#reloads automatically 
app.run(debug=True)

AssertionError: View function mapping is overwriting an existing endpoint function: /recipe/<string:ingredient>